<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <%- typeof addCss != 'undefined' ? addCss : '' %>
    </head>
    <body class="container">

        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <%- body -%>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
        <%- typeof addJs != 'undefined' ? addJs : '' %>

    </body>
</html>